<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1494059980473-813e73ee784b%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjE4MTE2NDY2%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080);">
  <div class="container">
    <h1>Find the best puzzle</h1>
    <%= link_to 'Discover the offers', '#', class: "btn btn-warning"  %>
  </div>
</div>
