.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  overflow: hidden;
}

.card-list {
  height: 220px;
}

.card-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.card-right {
  padding: 20px;
}

.card-left {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: 16px;
}

.card-title a {
  color: #000;
}

.card-list img {
  height: 220px;
  width: 250px;
  object-fit: cover;
}
