.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  top: 0;
  position: sticky;
}

.map-popup a {
  color: #000;
}
