<div class="container">
  <h1>Rent a Puzzle</h1>
  <% @puzzles.each do |puzzle| %>
    <div class="d-flex">
      <div><%= image_tag 'puzzle-placeholder.jpg', alt: puzzle.title, height: 200 %></div>
      <div class="information-right">
        <p><%= puzzle.title %></p>
        <p><%= puzzle.size %></p>
      </div>
    </div>
  <% end %>
</div>


