<h1>Puzzles#index</h1>
<p>Find me in app/views/puzzles/index.html.erb</p>

<% @puzzles.each do |puzzle| %>
  <div><%= image_tag 'puzzle-placeholder.jpg', alt: puzzle.title %></div>
  <p><%= puzzle.title %></p>
  <p><%= puzzle.size %></p>
<% end %>
